body {
    background-color: #0B1215;
    color: #FAF9F6;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    position: relative;
    animation: rainbowText 6s infinite linear;
}

@keyframes rainbowText {
    0% {
        color: red;
        text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red;
    }
    14.28% {
        color: orange;
        text-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 20px orange;
    }
    28.57% {
        color: yellow;
        text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 20px yellow;
    }
    42.85% {
        color: green;
        text-shadow: 0 0 5px green, 0 0 10px green, 0 0 20px green;
    }
    57.14% {
        color: blue;
        text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 20px blue;
    }
    71.42% {
        color: indigo;
        text-shadow: 0 0 5px indigo, 0 0 10px indigo, 0 0 20px indigo;
    }
    85.71% {
        color: violet;
        text-shadow: 0 0 5px violet, 0 0 10px violet, 0 0 20px violet;
    }
    100% {
        color: red;
        text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red;
    }
}
